@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    height: 100%;
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-font: "Montserrat";
    --secondary-font: "Inter";
    --primary-color: #171717;
    --secondary-color: #EBEBEB;
    --tertiary-color: #864DC2;
    --margin-top: ;
    --margin-bottom: ;
}