@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body,
html {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar-track {
    background-color: rgb(94, 94, 94);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: var(--border-radius);
}

:root {
    --primary-font: "Montserrat";
    --secondary-font: "Inter";
    --primary-color: #171717;
    --secondary-color: #EBEBEB;
    --tertiary-color: #864DC2;
    --margin-sides: 128px;
}

/* TITLES + SUBTITLES */
.title {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 98px;
    color: var(--secondary-color);
}

.subtitle {
    font-family: var(--secondary-font);
    font-style: normal;
    margin-left: 10px;
    font-weight: 220;
    font-size: 20px;
    line-height: 24px;
    color: rgba(235, 235, 235, 0.6);
    font-variation-settings: 'slnt' -10;
    margin-top: 5px;
}

/* WRAPPER */
.hero-wrapper {
    position: relative;
    min-height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;
}

.hero-svg {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.3;
}

.hero-wrapper::after {
    content: '';
    position: absolute;
    top: -103px;
    left: 298.5px;
    width: 231px;
    height: 536px;
    background: radial-gradient(ellipse, rgb(255, 255, 255) 0%, transparent 70%);
    filter: blur(300px);
    pointer-events: none;
    z-index: 2;
}

/* HERO PHOTO */
.fotoHero {
    position: absolute;
    z-index: 0;
    top: 8%;
    left: 18%;
    transform: scale(0.8);
}

/* NAVBAR */

header.scrolled {
    background-color: var(--primary-color);
    backdrop-filter: blur(10px);
}

header {
    position: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    transition: background 0.3s ease, backdrop-filter 0.3s ease;
}

.logo {
    margin-left: var(--margin-sides);
}

.navbar {
    margin-right: var(--margin-sides);
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

li>a {
    text-decoration: none;
    color: rgba(165, 165, 165, 0.918);
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    transition: all 0.3s ease;
}

li>a:hover {
    color: var(--secondary-color);
}

/* HERO SECTION */
#home {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    min-height: 90vh;
    width: 100%;
    z-index: 99;
}

.home-container {
    margin-left: var(--margin-sides);
}

.title-container {
    margin-top: 95px;
    display: flex;
    flex-direction: column;
}

.title-container h1 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 70px;
    color: var(--secondary-color);
}

.down-title {
    background: linear-gradient(360deg, rgba(134, 77, 194, 0.865) 17.25%, rgba(185, 156, 215, 0.9325) 33.61%, rgba(210, 196, 225, 0.96625) 51.04%, #EBEBEB 68.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 38px;
}

.subtitle.hero {
    font-style: italic;
    margin-left: 0px;
}

.socials-icon {
    margin-top: 15px;
    color: var(--secondary-color);
    display: flex;
    gap: 15px;
}

.socials-icon a {
    color: var(--secondary-color);
}

.socials-icon i {
    font-size: 23px;
    transition: all 0.3s ease;
}

.socials-icon i:hover {
    color: var(--tertiary-color);
    transform: scale(0.98);
}

.blur-title {
    position: absolute;
    bottom: -8%;
    left: 0;
    white-space: nowrap;
    z-index: 1;
    pointer-events: none;
    text-align: center;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 160px;
    line-height: 195px;
    color: rgba(235, 235, 235, 0.05);
    filter: blur(5px);
}

/* HIGHLIGHT SECTION */
#highlight {
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--primary-color);
}

.highlight-container {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 109px;
    margin-top: 50px;
    position: relative;
}

.highlight-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 200px;
    background: rgba(134, 77, 194, 0.4);
    filter: blur(155.8px);
    pointer-events: none;
    z-index: 0;
}

.video-highlight-container {
    position: relative;
}

.video-highlight-container img {
    filter: brightness(70%) blur(1.5px);
    border-radius: 10px;
    transform: scale(0.6);
    content: url(../images/bahia2W.webp);
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: #b3b3b383;
    border: 1px solid var(--secondary-color);
    border-radius: 99px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.play-button i {
    position: absolute;
    top: 50%;
    left: 55%;
    right: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: var(--tertiary-color);
}

.play-button:hover {
    transform: translate(-50%, -50%) scale(0.95);
}

/* VIDEO MODAL */
#staticBackdrop .modal-dialog {
    max-width: fit-content;
    margin: 1.75rem auto;
}

#staticBackdrop .modal-content {
    border-radius: 10px;
}

#staticBackdrop .modal-body {
    padding: 0;
}

#highlightVideo {
    width: auto;
    height: 85vh;
    border-radius: 5px;
}

.title-container.highlight {
    margin-bottom: 200px;
    width: auto;
    margin-right: var(--margin-sides);
    z-index: 99;
}

.title.down {
    font-weight: 800;
    font-size: 80px;
    text-align: right;
    line-height: 90px;
}

/* GALERY SECTION */
#galery {
    min-height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
}

.title-container.galery {
    margin-left: var(--margin-sides);
}

.parent {
    margin-top: 75px;
    margin-left: var(--margin-sides);
    margin-right: var(--margin-sides);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 80px;
    margin-bottom: 100px;
}

.parent div {
    position: relative;
    max-width: 298px;
    max-height: 375px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.parent div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.parent div::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.parent div i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    font-size: 32px;
    color: #000;
    opacity: 0;
    z-index: 2;
    transition: all 0.3s ease;
}

.parent div:hover i {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.parent div:hover {
    transform: scale(1.02);
}

.parent div:hover::before {
    opacity: 0.6;
}

/* ABOUT SECTION */
#about {
    min-height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 145px;
}

.about-container {
    margin-top: 175px;
}

.title-container.about {
    margin-left: var(--margin-sides);
}

.subtitle.about {
    margin-left: 0px;
}

.about-text {
    margin-top: 35px;
    margin-left: var(--margin-sides);
}

.about-text p {
    width: 748px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: var(--secondary-color);
}

.stats-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 68px;
    margin-left: 78px;
}

.stats h1 {
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
}

.stats p {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 20px;
    color: rgba(235, 235, 235, 0.7);
}

#about img {
    margin-top: 100px;
    margin-right: var(--margin-sides);
}

/* CONTACT SECTION */

.contact-wrapper {
    background-color: var(--primary-color);
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.contact-wrapper::after {
    content: '';
    position: absolute;
    top: -103px;
    left: 298.5px;
    width: 231px;
    height: 536px;
    background: radial-gradient(ellipse, rgb(255, 255, 255) 0%, transparent 70%);
    filter: blur(300px);
    pointer-events: none;
    z-index: 2;
}

.contact-svg {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 0;
}

#contact {
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.socials-container {
    display: flex;
    gap: 48px;
}

.socials-container i {
    color: var(--secondary-color);
    font-size: 42px;
    transition: all 0.3s ease;
}

.socials-container i:hover {
    color: var(--tertiary-color);
    transform: scale(0.95);
}

.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 25px;
}

.footer p {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: var(--secondary-color);
}

.footer-divisor {
    position: absolute;
    margin-left: var(--margin-sides);
    transform: scale(1.2);
}

.blur-title.contact {
    bottom: -5%;
    left: -2%;
    z-index: 12;
    font-size: 165px;
    background: linear-gradient(360deg, rgba(134, 77, 194, 0.05) 12.84%, rgba(235, 235, 235, 0.05) 91.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    filter: blur(7px);
}

/* Notebook */
@media (min-width: 1440px) and (max-width: 1919px) {

    /* TITLES + SUBTITLES */
    .title {
        font-size: 50px;
        line-height: 70px;
    }

    /* HERO PHOTO */
    .fotoHero {
        top: -1%;
        left: 23%;
        transform: scale(0.8);
    }

    .blur-title {
        font-size: 140px;
    }

    /* HIGHLIGHT SECTION */

    .highlight-container {
        gap: 50px;
    }

    .title.up {
        font-size: 50px;
        line-height: 50px;
        white-space: nowrap;
    }

    .title.down {
        font-size: 60px;
    }

    /* ABOUT SECTION */
    #about {
        gap: 100px;
    }

    #about img {
        max-width: 450px;
    }

    .title.about {
        font-size: 50px;
        line-height: 40px;
    }

    .about-text p {
        font-size: 20px;
    }

    .stats h1 {
        font-size: 25px;
        line-height: 20px;
    }

    .stats p {
        font-size: 20px;
        line-height: 15px;
    }

    /* GALERY SECTION */

    .title.galery {
        font-size: 50px;
        line-height: 40px;
    }

    .subtitle.galery {
        font-size: 20px;
    }

    .parent {
        margin-top: 45px;
        grid-row-gap: 80px;
    }

    .parent div {
        max-width: 258px;
        max-height: 345px;
    }

    /* CONTACT SECTION */

    .socials-container i {
        font-size: 36px;
    }

    .blur-title.contact {
        font-size: 140px;
    }
}

@media (min-width: 1280px) and (max-width: 1439px) {

    /* TITLES + SUBTITLES */
    .title {
        font-size: 50px;
        line-height: 70px;
    }

    /* HERO PHOTO */
    .fotoHero {
        top: -10%;
        left: 26%;
        transform: scale(0.7);
    }

    .blur-title {
        font-size: 115px;
    }

    /* HIGHLIGHT SECTION */

    .highlight-container {
        gap: 0px;
    }

    .title.up {
        font-size: 50px;
        line-height: 50px;
        white-space: nowrap;
    }

    .title.down {
        font-size: 60px;
    }

    /* ABOUT SECTION */
    #about {
        gap: 90px;
    }

    #about img {
        max-width: 350px;
    }

    .title.about {
        font-size: 50px;
        line-height: 40px;
    }

    .about-text p {
        width: 95%;
    }

    /* GALERY SECTION */

    #galery {
        min-height: 110vh;
    }

    .title.galery {
        font-size: 50px;
        line-height: 40px;
    }

    .subtitle.galery {
        font-size: 20px;
    }

    .parent {
        margin-top: 45px;
        grid-row-gap: 40px;
    }

    .parent div {
        max-width: 218px;
        max-height: 295px;
    }
}

/* Tablets */
@media (min-width: 769px) and (max-width: 1124px) {

    /* HERO PHOTO */
    .fotoHero {
        top: 7%;
        left: 40%;
        transform: scale(0.7);
    }

    .blur-title {
        font-size: 76px;
    }

    /* HIGHLIGHT SECTION */
    #highlight {
        min-height: auto;
        padding: 50px 0;
    }

    .highlight-container {
        gap: 0px;
        flex-direction: column-reverse;
        margin-top: 0px;
        gap: 30px;
    }

    .title-container.highlight {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: -50px;
    }

    .title.up {
        font-size: 50px;
        line-height: 50px;
        white-space: nowrap;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .title.down {
        font-size: 60px;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    /* ABOUT SECTION */
    #about {
        gap: 30px;
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-container {
        margin-top: 0px;
    }

    #about img {
        max-width: 350px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .title.about {
        text-align: center;
        font-size: 50px;
        line-height: 40px;
    }

    .title-container.about {
        margin-left: 0px
    }

    .subtitle.about {
        text-align: center;
    }

    .about-text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    .about-text p {
        width: 100%;
        text-align: center;
        margin-left: 80px;
        margin-right: 80px;
    }

    .stats {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .stats-container {
        justify-content: center;
        justify-content: space-evenly;
        margin-left: 0px;
    }

    .stats h1 {
        text-align: center;
    }

    .stats p {
        text-align: center;
    }

    /* GALERY SECTION */

    #galery {
        min-height: 110vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title-container.galery {
        margin-left: 0px;
    }

    .title.galery {
        font-size: 50px;
        line-height: 40px;
    }

    .subtitle.galery {
        font-size: 20px;
        text-align: center;
    }

    .parent {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        margin-top: 45px;
    }

    .parent div {
        max-width: 218px;
        max-height: 295px;
    }
}

/* Small devices */
@media (min-width: 481px) and (max-width: 768px) {

    .title {
        font-size: 40px;
        line-height: 50px;
    }

    /* HERO SECTION */

    .hero-svg {
        top: 45%
    }

    #home {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-container {
        margin-left: 0px;
    }

    .title-container h1 {
        text-align: center;
    }

    .down-title {
        margin-left: 0px;
    }

    .subtitle.hero {
        text-align: center;
    }

    .socials-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .socials-container i {
        font-size: 28px;
    }

    /* HERO PHOTO */
    .fotoHero {
        display: none;
    }

    .blur-title {
        font-size: 70px;
    }

    /* HIGHLIGHT SECTION */
    #highlight {
        min-height: auto;
        padding: 50px 0;
    }

    .highlight-container {
        gap: 0px;
        flex-direction: column-reverse;
        margin-top: 0px;
        gap: 20px;
    }

    .video-highlight-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .video-highlight-container img {
        transform: none;
        width: 80%;
        max-width: 400px;
    }

    .title-container.highlight {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .title.up {
        font-size: 40px;
        line-height: 50px;
        white-space: nowrap;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .title.down {
        font-size: 50px;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    /* ABOUT SECTION */
    #about {
        gap: 30px;
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-container {
        margin-top: 0px;
    }

    #about img {
        max-width: 350px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .title.about {
        text-align: center;
        font-size: 50px;
        line-height: 40px;
    }

    .title-container.about {
        margin-left: 0px
    }

    .subtitle.about {
        text-align: center;
    }

    .about-text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    .about-text p {
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin-left: 80px;
        margin-right: 80px;
    }

    .stats {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .stats-container {
        justify-content: center;
        justify-content: space-evenly;
        margin-left: 0px;
    }

    .stats h1 {
        font-size: 24px;
        line-height: 18px;
        text-align: center;
    }
    
    .stats p {
        font-size: 20px;
        line-height: 18px;
        text-align: center;
    }

    /* GALERY SECTION */

    #galery {
        min-height: 110vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title-container.galery {
        margin-left: 0px;
    }

    .title.galery {
        font-size: 50px;
        line-height: 40px;
    }

    .subtitle.galery {
        font-size: 20px;
        text-align: center;
    }

    .parent {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        margin-top: 45px;
    }

    .parent div {
        max-width: 218px;
        max-height: 295px;
    }
}

/* Mobile */
@media (max-width: 480px) {}